.hljs {
  color: var(--color);
  background: var(--aux-background);
}
@media (prefers-color-scheme: light) {
  .hljs-deletion {
    color: #ac3e3e;
    background: #f0e4e3;
  }
  .hljs-addition {
    color: #2b7945;
    background: #daf4ea;
  }
  .hljs-comment {
    color: #898e93;
  }
}
@media (prefers-color-scheme: dark) {
  .hljs-bullet,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-template-variable,
  .hljs-variable {
    color: #f49466;
  }
  .hljs-attr,
  .hljs-link,
  .hljs-literal,
  .hljs-number,
  .hljs-symbol,
  .hljs-variable.constant_ {
    color: #f2af7d;
  }
  .hljs-deletion {
    color: #f88f7f;
    background: #3d1e20;
  }
  .hljs-addition {
    color: #6ad4af;
    background: #19362c;
  }
  .hljs-comment {
    color: #7a8599;
  }
}
