:root {
  --g0: hsl(from var(--b1) calc(h + 240) 80% 70%);
  --g1: hsl(from var(--b1) calc(h - 30) 40% 70%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --g0: hsl(from var(--b1) calc(h + 50) 40% 30%);
    --g1: hsl(from var(--b1) calc(h - 10) 40% 40%);
  }
}
html {
  background:
    linear-gradient(to bottom right, var(--g0), var(--g1) 60%) 50% 50% / cover
    no-repeat;
}
@media (max-width: 840px) {
  html {
    background:
      linear-gradient(to bottom, var(--g0), var(--g1) 60%) 50% 50% / cover
      no-repeat;
  }
}
body {
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  align-items: center;
  justify-content: center;
}
@media (max-width: 840px) {
  .layout {
    min-height: 100vh;
  }
}

main {
  --max-content-width: 36em;
  --line-color: color(from var(--c0) srgb r g b / 0.1);

  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 840px) {
  main {
    --max-content-width: 100%;

    display: block;
    margin: 0;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 1.5rem 0;
}
@media (max-width: 840px) {
  h1 {
    font-size: 2.35em;
  }
}
h1 a {
  display: inline-block;
  position: relative;
}
h1 a::before {
  content: "";
  background-color: color(from var(--link-color) srgb r g b / 0.3);
  position: absolute;
  inset: 0.25em -0.15em 0.15em;
  transform: skew(-15deg, -1deg);
  transition:
    inset 0.3s,
    transform 0.3s;
}
h1 a:hover {
  text-decoration: none;
}
h1 a:hover::before {
  inset: 0.15em -0.15em 0.05em;
  transform: skew(-5deg, -1deg);
}
header {
  display: block;
  text-align: center;
  padding: 0 var(--content-padding-x);
}
@media (max-width: 840px) {
  .badges {
    margin: 0 2em;
  }
}
.description {
  font-size: 1.1em;
  margin: 0;
}
.description p {
  margin-top: 0;
}
.actions {
  --r: 1em;

  font-size: 1.25em;
  margin: 0.5em 0;
}
.actions a.button {
  min-width: 32%;
}
@media (max-width: 840px) {
  .actions {
    font-size: 1.15em;
  }
}
.actions .sep {
  display: none;
}
.ref {
  font-size: 0.9em;
}

section {
  width: 50%;
  min-height: 100vh;
  align-self: stretch;
  padding: 0;
  box-sizing: border-box;
}
section .section-content {
  max-width: var(--max-content-width);
  padding: 1em 3.5vw 2em;
  box-sizing: border-box;
}
section.intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section.intro-title .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95vh;
  padding-top: 4em;
  padding-bottom: 4em;
}
section.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: color(from var(--c0) srgb r g b / .05);
}
section.intro .section-content {
  width: 100%;
}
@media (max-width: 840px) {
  section {
    width: auto;
    max-width: 100%;
    min-height: auto;
  }
  section .section-content {
    max-width: auto;
    padding: var(--content-padding-y) var(--content-padding-x);
  }
  section.intro {
    align-items: center;
    background: none transparent;
  }
  section.intro-title .section-content {
    padding-top: 2em;
    padding-bottom: 0;
  }
  section.intro .section-content,
  section.intro-title:last-child .section-content {
    padding-bottom: 2.5em;
  }
}
.features {
  --link-color: color(from var(--c0) srgb r g b / 0.55);
  --link-decoration: underline;
  --list-padding-x: 1.25rem;
  --list-item-padding-x: 0.35rem;

  margin: 2em 0;
}
.features h2 {
  font-size: 1.25em;
  font-style: italic;
  border: none;
  padding: 0.1em calc(var(--list-padding-x) + var(--list-item-padding-x));
  margin: 0.75em 0 0.5em;
}
.features > ul {
  list-style: circle;
  padding: 0;
  padding-inline-start: var(--list-padding-x);
  margin: 0.5em 0 0;
}
.features > ul > li {
  padding: 0.25em var(--list-item-padding-x);
  margin: 0;
  box-sizing: border-box;
}
.features > ul > li + li {
  border-top: 0.15em solid var(--line-color);
}
@media (max-width: 840px) {
  .features {
    padding: 0 0.5em;
    margin: 0;
  }
  .features h2 {
    text-align: center;
  }
  .features > ul > li {
    width: 100%;
  }
}
.features > ul > li > ul {
  list-style: disc;
}
.note {
  padding: 0 3.5em;
  margin: 1.5em 0;
}
@media (max-width: 840px) {
  .note {
    padding: 0;
  }
}
p.installation {
  font-size: 1.25em;
  text-align: center;
  margin: 1em 0;
}
.installation code {
  background: transparent;
}
