:root {
  line-height: 1.35;
}
.layout {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--content-padding-y) var(--content-padding-x);
  box-sizing: border-box;
}
main {
  width: 500px;
  text-align: center;
  box-sizing: border-box;
}
main .links {
  font-size: 1.2em;
}
main .links .sep {
  display: inline-block;
  margin: 0 0.15em;
}
main .links .primary {
  font-weight: bold;
}
main p {
  margin: 0;
}
main p.description {
  margin-top: 1rem;
}
main p.links {
  margin-top: 1rem;
}
@media (max-width: 840px) {
  main {
    width: auto;
    max-width: 500px;
  }
}
