header,
.body,
footer {
  box-sizing: border-box;
}
header,
footer {
  padding: 0 var(--content-padding-x);
}

header {
  display: none;
  text-align: center;
  padding-top: 0.7em;
  padding-bottom: 0.75em;
}
header h1 {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--aux-emphatic-color);
  margin: 0;
}
header h1 > a,
header h1 > a:link,
header h1 > a:hover,
header h1 > a:visited,
header h1 > a:active {
  text-decoration: underline;
  border-bottom: none;
}
header h1 sup {
  font-size: 0.5em;
}
header .description {
  max-width: 36em;
  font-size: 0.8em;
  line-height: 1.2;
  margin: 0.35em auto 0;
}
header .description p {
  margin: 0;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
}
.body > hr {
  display: none;
}
@media (max-width: 840px) {
  header {
    display: block;
  }
  .body {
    flex-direction: column;
    padding: 0;
  }
}
aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: none;
  align-self: stretch;
  font-size: 0.87em;
  line-height: 1.25;
  text-align: end;
  background: linear-gradient(
    to right,
    var(--aux-background),
    var(--aux-background-end)
  );
  border-right: 0.05em solid var(--aux-border-color);
  padding: var(--content-padding-y) var(--content-padding-x);
  margin: 0;
  box-sizing: border-box;
}
aside > .header {
  display: block;
  margin: 0.5rem 0 0.25rem;
}
aside > .header .description p:not(.installation) {
  font-size: 0.9em;
  margin: 0.35em 0 0;
}
aside > .header .description p.installation {
  margin: 1em 0 0;
}
aside > .header .installation code {
  display: inline-block;
  background: transparent;
  border: 0.05em solid;
  border-radius: 0.5em;
  padding: 0.35em 0.75em;
  margin: 0;
}
aside h1 {
  font-size: 1.3rem;
  font-weight: 900;
  color: var(--aux-emphatic-color);
  margin: 0;
}
aside h1 > a,
aside h1 > a:link,
aside h1 > a:hover,
aside h1 > a:visited,
aside h1 > a:active {
  text-decoration: underline;
  border-bottom: none;
}
aside h1 sup {
  font-size: 0.5em;
}
aside nav {
  font-size: 0.8rem;
}
aside section {
  width: 100%;
  max-width: 16em;
  padding: 1rem 0;
  box-sizing: border-box;
}
aside section + section {
  border-top: 0.05rem solid;
}
aside h2,
aside p.title {
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 1.1rem 0 0.75rem 0;
}
aside h2:first-of-type,
aside p.title:first-of-type {
  margin-top: 0;
}
aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
aside > ul + ul {
  border-top: 0.05rem solid;
  padding-top: 1.2em;
  margin-top: 1.5em;
}
aside ul ul {
  margin: 0.65em 0 0.5em;
}
aside li {
  text-align: end;
  padding-inline-end: 1em;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
aside li::before {
  content: "•";
  position: absolute;
  right: 0;
  top: 0;
}
aside li + li {
  margin-top: 0.55em;
}
aside li > strong {
  color: var(--emphatic-color);
}
@media (max-width: 840px) {
  aside {
    width: 100%;
    display: block;
    font-size: inherit;
    text-align: start;
    background: linear-gradient(
      to top,
      var(--aux-background),
      var(--aux-background-end)
    );
    border-top: 0.35em solid var(--aux-border-color);
    border-right: none;
    padding: 0.25rem var(--content-padding-x) 0.35rem;
    margin: 0;
  }
  aside > .header {
    display: none;
  }
  aside nav {
    font-size: inherit;
  }
  aside section {
    max-width: 100%;
  }
  aside li {
    text-align: start;
    padding-inline-start: 1em;
    padding-inline-end: 0;
  }
  aside li::before {
    left: 0;
    right: auto;
  }
}
aside > ul:last-child,
aside > ul:last-child > li:last-child {
  margin-bottom: 0;
}
aside a.active {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}
aside a.anchorjs-link {
  display: none;
}

main {
  width: 75%;
  max-width: var(--max-content-width);
  padding: var(--content-padding-y) var(--content-padding-x);
  box-sizing: border-box;
}
@media (max-width: 840px) {
  main {
    width: 100%;
    padding-bottom: 0;
  }
}
.body.no-nav > main {
  width: auto;
  margin: 0 auto;
}
main p.sep {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0;
}
main hr {
  background: none transparent;
  border: none;
  border-top: var(--sep-line);
  margin: var(--block-margin-y) 0;
}
main h1 {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.1;
  color: var(--secondary-color);
  margin: 0;
}
h1 .sep {
  margin: 0 0.1em;
}
@media (max-width: 840px) {
  main h1 {
    margin-top: 0;
  }
}
main h1 + h2 {
  margin-top: 0.5rem;
}
main h2 {
  font-weight: 900;
  border-bottom: var(--sep-line);
  padding-bottom: 0.1em;
}
main h2:first-child {
  margin-top: 0;
}

.pagenav {
  --icon-width: 1.25em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  line-height: 1.25;
  border-top: var(--sep-line);
  padding: 0.6em 0;
  margin: 1.5em 0 0;
}
@media (max-width: 840px) {
  .pagenav {
    padding: 1em var(--content-padding-x) 1.1em;
    margin: 2em calc(-1 * var(--content-padding-x)) 0;
  }
}
.pagenav .prev,
.pagenav .next {
  display: inline-block;
  position: relative;
}
.pagenav .icon {
  display: inline-block;
  width: var(--icon-width);
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
.pagenav .prev {
  text-align: left;
}
.pagenav .prev .icon {
  left: 0;
}
.pagenav .next,
.pagenav .repo {
  flex: auto;
  text-align: right;
}
.pagenav .next .icon {
  right: 0;
}
.pagenav .prev {
  padding-left: var(--icon-width);
}
.pagenav .next {
  padding-right: var(--icon-width);
}
.pagenav .sep,
.pagenav .anchorjs-link,
.pagenav hr {
  display: none;
}
