.body {
  display: flex;
  align-items: stretch;
  padding: var(--content-padding-y) var(--content-padding-x);
}
.body > hr {
  display: none;
}
@media (max-width: 840px) {
  .body {
    flex-direction: column;
    padding: 0;
  }
}
.body > nav {
  width: 30%;
  flex: none;
  align-self: flex-start;
  font-size: 0.9em;
  background: var(--b1-light);
  padding: 0.5rem var(--content-padding-x) 0.65rem;
  margin: 0 0 0 var(--space-x);
  box-sizing: border-box;
}
@media (max-width: 840px) {
  .body > nav {
    width: 100%;
    font-size: inherit;
    border-top: 0.35em solid var(--b1);
    padding: 0.25rem var(--content-padding-x) 0.35rem;
    margin: 0;
  }
}
.body > nav section {
  padding: 1rem 0;
}
.body > nav section + section {
  border-top: 0.05rem solid var(--b1);
}
.body > nav section.related {
  border-top: 0.15rem double var(--b1);
}
.body > nav h2,
.body > nav p.title {
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  color: color(from var(--c0) srgb r g b / 0.6);
  margin: 1.1rem 0 0.75rem 0;
}
.body > nav h2:first-of-type,
.body > nav p.title:first-of-type {
  margin-top: 0;
}
.body > nav ul {
  line-height: 1.2;
  padding: 0;
  padding-inline-start: 1em;
  margin: 0;
}
.body > nav > ul + ul {
  border-top: 0.05rem solid var(--b1);
  padding-top: 1.2em;
  margin-top: 1.5em;
}
.body > nav ul ul {
  margin: 0.65em 0 0.5em;
}
.body > nav li {
  margin-top: 0;
  margin-bottom: 0;
}
.body > nav li + li {
  margin-top: 0.5em;
}
@media (max-width: 840px) {
  .body > nav li + li {
    margin-top: 0.65em;
  }
}
.body > nav > ul:last-child,
.body > nav > ul:last-child > li:last-child {
  margin-bottom: 0;
}
.body > nav a.active {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}
.body > nav a.anchorjs-link {
  display: none;
}

main {
  width: calc(70% - var(--space-x));
  box-sizing: border-box;
}
@media (max-width: 840px) {
  main {
    width: 100%;
    padding: var(--content-padding-y) var(--content-padding-x) 0;
  }
}
.body.no-nav {
  --max-content-width: 45em;
}
.body.no-nav > main {
  width: auto;
}
main p.sep {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0;
}
main hr {
  background: none transparent;
  border: none;
  border-top: 0.075em solid;
  margin: var(--block-margin-y) 0;
}
main h1 {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.1;
  color: color(from var(--c0) srgb r g b / 0.5);
  margin: 0;
}
h1 .sep {
  margin: 0 0.1em;
}
@media (max-width: 840px) {
  main h1 {
    margin-top: 0;
  }
}
main h1 + h2 {
  margin-top: 0.75rem;
}
main h2 {
  border-bottom: .3rem solid var(--b1-light);
  padding-bottom: 0.1em;
}

.pagenav {
  --icon-width: 1.25em;

  display: flex;
  justify-content: space-between;
  gap: 1em;
  background: var(--b1-light);
  border-top: var(--hr-border);
  padding: 0.6em 0.75em 0.75em;
  margin: 1.5em 0 0;
}
@media (max-width: 840px) {
  .pagenav {
    padding: 1em var(--content-padding-x) 1.1em;
    margin: 2em calc(-1 * var(--content-padding-x)) 0;
  }
}
.pagenav .prev,
.pagenav .next {
  display: inline-block;
  line-height: 1.2;
  position: relative;
}
.pagenav .icon {
  display: inline-block;
  width: var(--icon-width);
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
.pagenav .prev {
  text-align: left;
}
.pagenav .prev .icon {
  left: 0;
}
.pagenav .next {
  text-align: right;
}
.pagenav .next .icon {
  right: 0;
}
.pagenav .prev {
  padding-left: var(--icon-width);
}
.pagenav .next {
  padding-right: var(--icon-width);
}
.pagenav .sep,
.pagenav .anchorjs-link,
.pagenav hr {
  display: none;
}
